@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --color-telkomsel-red: #E0040B;
  --color-telkomsel-darkred: #B90006;
  --color-telkomsel-lightred: #FFF1F2;
  --color-slate-dark: #0F172A;
  --color-wa-green: #25D366;
  --color-wa-dark: #128C7E;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

.bg-fiber-pattern {
  background-image: radial-gradient(rgba(224, 4, 11, 0.06) 1.5px, transparent 1.5px), radial-gradient(rgba(15, 23, 42, 0.035) 1px, transparent 1px);
  background-size: 24px 24px, 12px 12px;
  background-position: 0 0, 12px 12px;
}
